body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

.message.notice {
  border: 1px solid #0f0;
  background: #cfc url(flash_close_notice.png) 0 50% no-repeat no-repeat;
  a > span { text-indent: -9999px; color: #cfc; }
}

.message.error {
  border: 1px solid #f00;
  background: #fcc url(flash_close_error.png) 0 50% no-repeat no-repeat;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

.header {
  background-color: #069;
  height: 120px;
  color: white;
  padding-top: 40px;
  img { float: left; margin-top: -10px; }
  ul {
    list-style-type: none;
    li {
      display: inline;
    margin-bottom: 5px;
      a {
        color: white;
      }
    }
  }
}

tbody {
  tr:nth-child(4n) {
    background-color: #cfc;
  }
  tr:nth-child(4n+2) {
    background-color: #cef;
  }
}

th.numeric, td.numeric {
  text-align: right;
}

.clear { clear: both; }
